*{
    margin: 0;
    padding: 0;
}
/* para dispositivos móviles */
body{
    background-color: #3a311e;
    font-size: 16px;
    padding: 10px;
    }
    /* para desktop */
    @media (min-widht:1024px) {
body{font-size: 20px;
    padding: 30px;}
    }

body img{
    width: 40%;
    border-radius: 5%;
    }

.img_fachada img {
    width: 60%;
    height: auto
    }
.img_fachada{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    header div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
    }
.logo{
    width: 150px;
    height: 100px;
    }
h1 {
    color: rgb(202, 195, 187);
    font-size: 50px;
    padding: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif rgb(46, 170, 87); font-weight: 2000;
    justify-content: center;
    }
    h3{
        color: rgb(202, 195, 187);
        font-size: 35px;
        text-align: center;
    }
    h2{
    color: rgb(160, 68, 86);
    font-size: 30px;
    text-align: center;
    }

   
    p{
        color: rgb(202, 195, 187);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-bottom: 5%;
    }
    /* Movile */
     .grid-container-junior,
     .grid-container-doble,
     .grid-container-apart{ 
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px ;
        padding: 2%;}

    .text-junior,
    .text-doble,
    .text-apart{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-junior img,
    .img-doble img,
    .img-apart img{
        width: 80%;
        height: auto;
        display: block;
        border-radius: 5px;
    }
    /* Desktop */
    @media (min-width:1024px){

    .grid-container-junior,
    .grid-container-doble,
    .grid-container-apart,
    .grid-container-cabalgatas,
    .grid-container-piscina,
    .grid-container-senderismo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px ;
        padding: 2%;
    }
    .text-junior,
    .text-doble,
    .text-apart,
    .text-cabalgatas,
    .text-piscina,
    .text-senderismo{
        display: flex;
        flex-direction: column;
        justify-content: center;}
    .img-junior img,
    .img-doble img,
    .img-apart img,
    .img-cabalgatas,
    .img-piscina,
    .img-senderismo{
        width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;}
    }
   


     footer div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
     

    

