@media (max-width: 460px) {
  body p {
    font-size: 0.8rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
  body h2 {
    font-size: 1rem;
    padding-top: 25px;
  }
}
img {
  width: 60%;
  height: auto;
  border-radius: 5%;
}

.grid-container-junior,
.grid-container-doble,
.grid-container-apart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 2%;
}

.text-junior,
.text-doble,
.text-apart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-junior img,
.img-doble img,
.img-apart img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
}

.resto-principal img,
.salon-de-te img,
.quincho img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6%;
}

.grid-container-cabalgatas,
.grid-container-piscina,
.grid-container-senderismo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 2%;
}

.text-cabalgatas,
.text-piscina,
.text-senderismo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .grid-container-junior,
  .grid-container-doble,
  .grid-container-apart,
  .grid-container-cabalgatas,
  .grid-container-piscina,
  .grid-container-senderismo,
  .grid-container- {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2%;
  }
  .resto-principal,
  .salon-de-te,
  .quincho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6%;
  }
  .text-junior,
  .text-doble,
  .text-apart,
  .text-cabalgatas,
  .text-piscina,
  .text-senderismo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-cabalgatas img,
  .img-piscina img,
  .img-senderismo img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
  }
}
.img-ibirapita-01,
.img-araucaria-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.maps {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #CAC3BB;
  padding: 5px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

body {
  background-color: #3a311e;
}

footer div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAC3BB;
}
footer div p {
  color: #3a311e;
}
footer div a {
  padding-bottom: 20px;
}

h1 img_fachada {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

h1 {
  color: rgb(202, 195, 187);
  font-size: 50px;
  padding: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif rgb(46, 170, 87);
  font-weight: 2000;
  justify-content: center;
}

h2 {
  color: rgb(160, 68, 86);
  font-size: 30px;
  text-align: center;
}

h3 {
  color: rgb(202, 195, 187);
  font-size: 35px;
  text-align: center;
}

p {
  color: rgb(202, 195, 187);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 5%;
}

.logo {
  width: 150px;
  height: 100px;
}

table {
  padding: 20px;
}
table input {
  size: 80%;
}

form {
  padding: 20px;
}

.video-playa {
  display: flex;
  justify-content: center;
}

.reservas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
