
// @import "../utilities/variables";
body{
    background-color: $body-bg-color;}

    .navbar ul{
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }

     header{
        display: flex;
     }
     header nav ul li{
        padding: 4vh;
        text-align: center;
        list-style: none;
       }
    
    a{
        text-decoration: none;
        list-style: none;
        background-color: rgb(184, 161, 221);
        padding: 4px 8px 4px 8px;
        border-radius: 5%;
        border: 1px solid #f0f0f0;
    
    }
//     p{font-size: 16px;
//         padding: 12px;
//     }    
//     }
//     img{
//     width: 60%;
//     height: auto;
//     border-radius: 5%;
//     }

    
//     .grid-container-junior,
//     .grid-container-doble,
//     .grid-container-apart{ 
//        display: grid;
//        grid-template-columns: 1fr;
//        gap: 20px ;
//        padding: 2%;}

//    .text-junior,
//    .text-doble,
//    .text-apart{
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//    }
//    .img-junior img,
//    .img-doble img,
//    .img-apart img{
//        width: 80%;
//        height: auto;
//        display: block;
//        border-radius: 5px;
//        margin: 0 auto;
//    }

//    desktop

//    @media (min-width:1024px){

//     .grid-container-junior,
//     .grid-container-doble,
//     .grid-container-apart,
//     .grid-container-cabalgatas,
//     .grid-container-piscina,
//     .grid-container-senderismo{
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         gap: 20px ;
//         padding: 2%;
//     }
//     .text-junior,
//     .text-doble,
//     .text-apart,
//     .text-cabalgatas,
//     .text-piscina,
//     .text-senderismo{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;}
        
    
//     .img-cabalgatas img,
//     .img-piscina img,
//     .img-senderismo img{
//         width: 100%;
//         height: auto;
//         display: block;
//         border-radius: 5px;
//         margin: 0 auto;}
//     }
//     .img-ibirapita-01,
//     .img-araucaria-02{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 5%;
//     }
//     .maps{
//         display: flex;
//         align-items: center;
//         padding-top: 5%;
//         padding-bottom: 10%;
//     }

