

 header{
    background-color:#CAC3BB;
    padding: 5px;
    display: flex;
    justify-content: center;
    a:hover{
    color: $font-color;
    background-color: $background-color-1  ;

    }
    } 
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        } 

    

   
        
    

    