
//Variables

$background-color-1:#CAC3BB;
$background-color-2:#B99470;
$body-bg-color:#3a311e;
// $body-bg-color:#B99470;
$font-color: #CAC3BB;
$font-color-h2-h3: rgb(160, 68, 86);
$border-radius: 5%;

